header{
padding-block: 36px;
font: var(--text-md);
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile{
  display: flex;
  gap: 36px;
}
#profile > div{
  max-width: 384px;
}

#profile > div h1{
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#about{
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  width: 280px;
}

#about li{
  display: flex;
  align-items: center;
  gap: 8px;
}